# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Petshion/v16/.suo
*.opendb
*.db
*.ipch
*.sln
*.vcxproj
*.user
*.filters
*.iobj
*.iobj
*.log
*.pdb
*.tlog
*.ipdb
Prototype(for_PC)/.vs/Prototype(for_PC)/v15/.suo
*.idb
*.dat
*.jpg
*.png
*.aps
*.aps
*.mp4
*.zip
*.xml
*.lnk
x64/Release/mmod_sync
x64/Release/mmod_sync_
